// app.scss
// Option A: Include all of Bootstrap
// Include any default variable overrides here (though functions won't be available)
$headings-font-family: 'Days One',
'sans-serif';
$headings-color: #ffffff;
@import "../../node_modules/bootstrap/scss/bootstrap";
// Then add additional custom code here
* {
    letter-spacing: -.05em;
}

@font-face {
    font-family: "Baloo";
    src: local("Baloo"), url(../fonts/Baloo/Baloo-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "GlacialIndifference";
    src: local("GlacialIndifference"), url(../fonts/GlacialIndifference/GlacialIndifference-Regular.otf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "GlacialIndifference";
    src: local("GlacialIndifference"), url(../fonts/GlacialIndifference/GlacialIndifference-Bold.otf) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "GlacialIndifference";
    src: local("GlacialIndifference"), url(../fonts/GlacialIndifference/GlacialIndifference-Italic.otf) format("truetype");
    font-style: italic;
}